.container .cube-faces:first-of-type {
    transform: rotate3d(1,1,0, -80deg);
    animation: spin 10s infinite ease;
}

.container .cube-faces .cube-faces .inner-face {
    width: 190px;
    height: 190px;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 2.5px white;
    border-radius: 2.5px;
}

.inner-face.front {
    transform: translate3d(0, 0, 95px);
}

.inner-face.back {
    transform: translate3d(0, 0, -95px);
}

.inner-face.left {
    transform: rotate3d(0,1,0, -90deg) translate3d(0, 0, 95px);
}

.inner-face.right {
    transform: rotate3d(0,1,0, 90deg) translate3d(0, 0, 95px);
}

.inner-face.bottom {
    transform: rotate3d(1,0,0, 90deg) translate3d(0, 0, -95px)
}

.inner-face.top {
    transform: rotate3d(1,0,0, 90deg) translate3d(0, 0, 95px)
}